*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #3161e0 ;
}

.container-flex1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.grigio{
    background-color: grey;
    width: 50px;
    height: 50px;
}

.grigio1{
    background-color: grey;
    width: 500px;
    height: 50px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.container-flex2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}

.green{
    background-color: rgb(15, 9, 71);
    height: 50px;
    width: 500px;
    margin: auto;
    margin-top: 5%;
}

.green2{
    background-color: rgb(15, 9, 71);
    height: 150px;
    width: 700px;
    margin: auto;
    margin-top: 5%;
}

.bottoni{
    width: 50%;
    margin: auto;
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 10%;
}

.bott{
    background-color: rgb(15, 9, 71);
    width: 100px;
    height: 50px;
}

main{
    margin: auto;
}

.container-flex3{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.centra{
    margin: auto;
}

.centra1{
    margin: auto;
}

.aqua{
    background-color: #3161e0;
    display: inline-block;
    width: 300px;
    height: 400px;
    margin-top: 10%;
}

.aqua1{
    background-color: #182e6d;
    display: inline-block;
    width: 300px;
    height: 400px;
    margin-top: 5%;
}

.container-flex4{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.last{
    background-color: #3161e0;
    margin-top:150px;
    margin-bottom: 40px;
    width: 700px;
    height: 50px;
}

.last2{
    background-color: #3161e0;
    margin-top:60px;
    margin-bottom: 40px;
    width: 900px;
    height: 150px;
}

.last3{
    background-color: #3161e0;
    margin-top:60px;
    margin-bottom: 40px;
    width: 900px;
    height: 100px;
}

footer{
    background-color: #3161e0;
    height: 600px;
}

.container-flex5{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.red{
    background-color: red;
    height: 150px;
    width: 20%;
}

.red1{
    background-color: rgb(117, 0, 0);
    height: 150px;
    width: 20%;
}
